<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6032469-43']);
  _gaq.push(['_setDomainName', '.atlassian.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  jQuery(function(){
    jQuery('a[href^="https://my.atlassian.com"]').click(function(){
      console.log('tracking');
      _gat._getTrackerByName()._trackEvent("Outbound Links", "my.atlassian.com");
      setTimeout('document.location = "' + this.href + '"', 100);
      return false;
    });
  });
</script>
<script id="issue-collector-vars" type="text/javascript">
    // set up autofill for feedback URL custom field
    window.ATL_JQ_PAGE_PROPS = window.ATL_JQ_PAGE_PROPS || {};
    window.ATL_JQ_PAGE_PROPS.fieldValues = window.ATL_JQ_PAGE_PROPS.fieldValues || {};
    window.ATL_JQ_PAGE_PROPS.fieldValues['customfield_11680'] = window.location.toString();
</script>
<script id="issue-collector-js" src="https://ecosystem.atlassian.net/s/en_US-1e74hd-418945332/801/148/1.2.2/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=05be1bf1" type="text/javascript"></script>