html,body {
  overflow:auto;
  background-color:#f5f5f5;
}
.container {
  width: 950px;
  margin:0 auto;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  text-shadow:1px 1px 1px #fff;
}
.container a {
  text-decoration:none;
}
.container a:hover {
  text-decoration:underline;
}
.container h1 {
  border-bottom:1px solid #ccc;
  font-size:2.2em;
}
.container h2 {
  font-size:1.8em;
  border-bottom:1px solid #ccc;
  margin:20px 0 10px 0;
}
.resource h3 {
  font-size:1.4em;
  overflow:auto;
  color:#069;
  text-shadow:1px 1px 0 rgba(0,0,0,.2);
}
.resource>h6 {
  font-size:1.1em;
  border-bottom:1px solid #ccc;
  margin-bottom: 10px;
}
.resource {
  padding:0 15px 10px 15px;
  border:1px solid #eee;
  border-radius:10px;
  margin-bottom:20px;
  background:#fff;
  -webkit-box-shadow:rgba(0,0,0,.4) 1px 1px 2px;
}
.method h4 {
  background:#dee8f1;
  padding:5px;
  display:inline-block;
  border:1px solid #ccc;
  border-radius:5px;
  margin:0 0 10px 0;
}
.method h6 {
  font-size:1em;
  margin-bottom:3px;
}
.method ul, .method ul>li {
  margin:0;
}
.container table {
  width:100%;
}
.container pre, .container code {
  margin:0 0 15px 0;
  border-radius:5px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", monospace;
  line-height:140%;
}
.representation h6 {
  margin-top:10px;
}
#quick-search input[name="queryString"] {
  margin-right:5px;
}
.method {
  margin-bottom:20px;
}